/* Based on https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

/* reset end */
:root {
  --bg-headings-buttons: hsl(0, 0%, 95%);
  --bg-theme-button: hsl(231, 15%, 18%);
  --paragraph-text-color: hsla(0, 0%, 100%, 0.75);
  --bg-sedan: hsl(31, 76%, 52%);
  --icon-sedan-color: hsl(42, 100%, 73%);
  --bg-suv: hsl(184, 100%, 22%);
  --icon-suv-color: hsl(184, 67%, 45%);
  --bg-luxury: hsl(179, 100%, 13%);
  --icon-luxury-color: hsl(170, 76%, 41%);
}

body {
  background-color: var(--bg-headings-buttons);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5.5rem 1.5rem;
  min-height: 100dvh;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  color: var(--paragraph-text-color);
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 28rem;
  border-radius: 0.5rem;
}
.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6 {
  color: var(--bg-headings-buttons);
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
}
.card .title {
  padding-bottom: 1.5625rem;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.card .description {
  flex: 1;
  padding-bottom: 1.5625rem;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
}

.btn-base {
  background: var(--bg-headings-buttons);
  border: 0.125rem solid var(--bg-headings-buttons);
  border-radius: 1.5625rem;
  display: inline-block;
  padding: 0.59375rem 1.875rem;
  color: var(--card-main-color);
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  text-decoration: none;
}
.btn-base:hover {
  background: none;
  color: var(--bg-headings-buttons);
  cursor: pointer;
}

.btn-theme {
  background-color: var(--bg-theme-button);
  border-color: var(--bg-theme-button);
  padding: clamp(0.125rem, 4.8387096774vw + -0.5403225806rem, 0.59375rem) clamp(0.125rem, 18.064516129vw + -2.3588709677rem, 1.875rem);
}
.btn-theme:first-of-type {
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
  border-right: 0.0625rem solid var(--bg-headings-buttons);
}
.btn-theme:last-of-type {
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
  border-left: 0.0625rem solid var(--bg-headings-buttons);
}
.btn-theme:hover {
  color: var(--bg-theme-button);
}

.section-base {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3rem;
}
.section-base:first-of-type {
  --card-main-color: var(--bg-sedan);
  background-color: var(--card-main-color);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.section-base:nth-of-type(even) {
  --card-main-color: var(--bg-suv);
  background-color: var(--card-main-color);
}
.section-base:last-of-type {
  --card-main-color: var(--bg-luxury);
  background-color: var(--card-main-color);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
.section-base .header-image {
  padding-bottom: 2.1875rem;
}

.button-group {
  position: absolute;
  top: 1rem;
  font-size: 0rem;
}

@media (min-width: 50rem) {
  body {
    padding-top: clamp(5.5rem, 12.96875vw + -0.984375rem, 10.6875rem);
  }
  .card {
    flex-direction: row;
    max-width: unset;
  }
  .card .description {
    padding-bottom: clamp(2.5rem, 6.71875vw + -0.859375rem, 5.1875rem);
  }
  .section-base {
    max-width: 19.1875rem;
  }
  .section-base:first-of-type {
    border-top-right-radius: unset;
    border-bottom-left-radius: inherit;
  }
  .section-base:last-of-type {
    border-bottom-left-radius: unset;
    border-top-right-radius: inherit;
  }
}

/*# sourceMappingURL=styles.css.map */
